.sectContact {
  width: 100%;
  height: auto;
  background: rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 100px 20px;
  h1{
    margin: 0;
    color: black;
  }
}

.contactCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  height: auto;
}

.contactForm {
  margin-bottom: 20px;
  color: black;
}

.contactInfo {
}

@media (max-width: 768px) {
  .contactCard {
    display: flex;
    flex-direction: column;
  }
  .contactInfo {
    margin-top: 20px;
  }
}
