.sectContact {
  width: 100%;
  height: auto;
  background: rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 100px 20px;
  h1 {
    margin: 0;
    color: black;
  }
}

.contactCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: auto;
}

.contactForm {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  color: black;
}

.contactInfo {
}

@media (max-width: 750px) {
  .contactCard {
    display: flex;
    flex-direction: column;
  }
  .contactContainerInfo {
    display: flex;
    flex-direction: row;
  }
  .contactInfo {
    margin-top: 20px;
    .contactCardsInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      background-color: rgba(104, 130, 180, 0.47);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.555);
      margin: 10px 5px 5px 5px;
      border: 1px solid rgba(255, 255, 255, 0.247);
      border-radius: 40px;
      padding: 12px;
    }
  }
}
