.skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #1f3493, rgb(118, 118, 118));
}

.h1Skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 100px;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.skiDiv{
  background-image: url('../assets/Images/nnneon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.skillsDiv {
  display: flex;
  text-align: center;
  margin: 0px 40px 0 40px;
  max-width: 100%;
  max-height: 250px;
  overflow-x: hidden;
}

.skillsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  animation: scrollAnimation 20s linear infinite alternate;
  &:hover {
    animation-play-state: paused;
  }
  @keyframes scrollAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% + 100vw));
    }
  }
}

.check {
  width: -100px;
  height: -100px;
  position: relative;
  margin-left: -10px;
  transform: rotate(45deg);
}

@keyframes tick-animation {
  0%,
  20% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(1);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tick {
  height: 5px;
  width: 10px;
  margin-right: 15px;
  transform-origin: 0% 0%;
  border-radius: 5px;
  background: #1ac0a2;
  animation: tick-animation 5s infinite;
}

@keyframes tick-before-animation {
  0%,
  30% {
    transform: scaleY(0);
  }
  45% {
    transform: scaleY(1);
  }
}

.tick::before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 5px;
  height: 30px;
  transform-origin: 0% 100%;
  border-radius: inherit;
  background: inherit;
  animation: tick-before-animation 5s infinite;
}
.ulSkills {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.liSkill {
  width: calc(50%);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  @media (max-width: 1000px) {
    align-items: center;
    font-size: 0.9rem;
  }
}

.softDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 10px;
  margin: 40px ;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.555);
  font-weight: 500;
  backdrop-filter: blur(5px) saturate(66%);
  -webkit-backdrop-filter: blur(5px) saturate(66%);
  background-color: rgba(104, 130, 180, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  h1 {
    color: #1f3493;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  @media (max-width: 1000px) {
    width: 100%;
    margin: 10px;
  }
}


.nameSkill {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
  transform: scale(0.9);
  &:hover {
    transform: scale(1.2);
  }
}

.circleInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #d1cfcf;
}
.teal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#fdfa54 0% 65%, #ffffff 60% 100%);
}

.html {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#f38f0d 0% 60%, #ffffff 60% 100%);
}

.css {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#0d71f3 0% 60%, #ffffff 60% 100%);
}
.react {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#0dbdf3 0% 65%, #ffffff 60% 100%);
}
.redux {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#5d0df3 0% 50%, #ffffff 50% 100%);
}

.ant {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#0281f8 0% 50%, #ffffff 50% 100%);
}

.boot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#aa02f8 0% 50%, #ffffff 50% 100%);
}
.sass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#f802e4 0% 70%, #ffffff 50% 100%);
}
.node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#349b0b 0% 65%, #ffffff 50% 100%);
}
.express {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#0281f8 0% 65%, #ffffff 50% 100%);
}
.seque {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#56a5f0 0% 70%, #ffffff 50% 100%);
}
.mongo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#2fbb65 0% 50%, #ffffff 50% 100%);
}
.fire {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#f8bf02 0% 50%, #ffffff 50% 100%);
}
.postgre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#1f5a91 0% 70%, #ffffff 50% 100%);
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#ff9101 0% 80%, #ffffff 50% 100%);
}
.gc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#fd6500 0% 50%, #ffffff 50% 100%);
}
.wordpress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#1f5a91 0% 55%, #ffffff 50% 100%);
}
.git {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#ff7b00 0% 70%, #ffffff 50% 100%);
}
.slack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background: conic-gradient(#1f5a91 0% 100%, #ffffff 50% 100%);
}
