// .skills{
  
// }
.skillsContainer{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: 100vh;
}

 .skillsDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
   
}

.nameSkill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-weight: 600;
    font-size: 18px;
}

.teal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 50%;   
    height: 80px;
    background: conic-gradient(#fdfa54 0% 60%, #303238 60% 100%);
}
.circleInner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d1cfcf;
}

.html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 50%;   
    height: 80px;
    background: conic-gradient(#f38f0d 0% 60%, #303238 60% 100%);
}


